/*
Setter opp stilark for header tag
*/
header {
    background-color: #333;
    color: #f2f2f2;
    padding: 20px;
    text-align: center;
    font-size: 35px;
}
.header {
    background-color: #ada8a8;
    color: #d35f5f;
    padding: 20px;
    text-align: center;
    font-size: 30px;
    border: 5px solid #1be700;
    height: 100px;
    /*Make the edges of the div connect with the screen*/
    margin-left: -8px;
    margin-right: -8px;
    margin-top: -8px;
}
/*The logo class is on the left, the buttons class is on the right
make the divs show this*/
.logo {
    float: left;
    padding: 20px;
    border: 5px;
}

.buttons {
    float: right;
    border: 5px;
    padding: 10px;
}